<!DOCTYPE html>
<html>
<head>
  <title>Tweeter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %> <!-- security - don't delete! -->
</head>
<body>
  <% if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %> <!--having %= means print to page, not just run code-->
  <% end %>
<%= yield %>

</body>
</html>
